* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.navbar {
    position: absolute;
    width: 100%;
    height: 20;
    background-color: transparent;
}

.yellowLogo img {
    height: 20vh;
    padding: 20px;
}

header {
    background: url(/Homepage/Images/homepagepic.png) rgba(0, 0, 0, 0.541);
    background-blend-mode: multiply; /* Blends the background image with the background color */
    background-position: fixed;
    background-size: cover;
    width: 100%;
    height: 80vh; 
    display: block;
    position: relative;
    z-index: -1; /* Puts background behind the other elements, to avoid overlap */
}

header div {
    position: absolute;
    text-align: center;
    top: 8rem;
    padding: 6rem;
}

header h1{
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 50px;
    line-height: 1;
    margin: 0px;
    white-space: nowrap;
}

header p{
    color: rgb(255, 217, 0);
    font-size: 25px;
    text-align: left;
}

main {
    display: block;
    background-color: rgb(70, 70, 70);
    color: white;
    height: 60vh;
    padding: 50px;
}

main h2 {
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
}

main p {
    max-width: 70vw;
    font-size: 20px;
}

/*Makes the last word in title (us) yellow*/
main h2 span {
    color: rgb(255, 217, 0); 
}

footer {
    display: block;
    background-color: rgb(255, 217, 0);
    height: 15vh;
    color: white;
    text-align: left;
}

.blackLogo {
    height: 15vh;
    float: left;
}

.icons {
    padding-top: 1px;
}

.icons img {
    height: 4vh;
    display: flex;
}

/* Media screens smaller than 600px */
@media only screen and (max-width:600px) {
    .navbar .button {
        background-color: transparent;
        color: rgb(255, 217, 0);
        cursor: pointer;
        font-size: 16px;
        border: none;
        position: absolute;
        padding-left: 80vw;
        padding-top: 10vh;
    }

    .nav-menu {
        display: none;
    }

    .dropdown {
        position: absolute;
        display: inline-block;
    }

    .drop-menu {
        display: none;
        position: absolute;
        padding-left: 78vw;
        padding-top: 15vh;
        z-index: 1;
    }

    .drop-menu a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .drop-menu {
        display: block;
    }
}

/* Media screens between 600px and 900px */
@media only screen and (max-width:900px) and (min-width:600px) { 
    
    .button {
        background-color: transparent;
        color: rgb(255, 217, 0);
        cursor: pointer;
        font-size: 16px;
        border: none;
        position: absolute;
        padding-left: 80vw;
        padding-top: 10vh;
    }

    .nav-menu {
        display: none;
    }

    .dropdown {
        position: absolute;
        display: inline-block;
    }

    .drop-menu {
        display: none;
        position: absolute;
        padding-left: 78vw;
        padding-top: 15vh;
        z-index: 1;
    }

    .drop-menu a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .drop-menu {
        display: block;
    }
}

/* Media screens bigger than 900px */
@media only screen and (min-width:900px) {
    .button {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .nav-menu {
        width: 75%;
        float: right;
        padding-top: 40px;
    }
    
    .nav-menu ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        
    }
    
    .nav-menu a:hover {
        background-color: rgba(145, 145, 145, 0.521);
    }
    
    .nav-menu a {
        color: white;
        background-color: transparent;
        justify-content: space-between;
        text-decoration: none;
        font-size: 20px;
    }
    
    li:first-child a{
        color: rgb(255, 217, 0); /*Makes first list element (home) yellow*/
    } 
}



