* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.navbar {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 1; /* Puts navbar over other elements to avoid overlap */
    list-style: none;
}

.navbar .language {
    color: rgb(255, 217, 0);
    white-space: nowrap;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 20px;
    list-style: none;
}

.navbar .language a {
    color: rgb(255, 217, 0);
    text-decoration: none;
}

.yellowLogo img {
    height: 20vh;
    padding: 20px;
}

header {
    background: url(./Images/Homepagepic.png) rgba(0, 0, 0, 0.541);
    background-blend-mode: multiply; /* Blends the background image with the background color */
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    height: 100vh; 
    display: block;
    position: relative;
}

header div {
    position: absolute;
    text-align: center;
    top: 8rem;
    padding: 6rem;

}

header h1{
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 50px;
    line-height: 1;
    margin: 0px;
    white-space: nowrap;
}

header p{
    color: rgb(255, 217, 0);
    font-size: 25px;
    text-align: left;
    white-space: nowrap;
}

header .links{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    top: 30rem;
    left: 6rem;
}

header .links .viewMore {
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    white-space: nowrap;
}

header .links .pil {
    background-color: rgb(255, 217, 0);
}


main {
    display: block;
    background-color: rgb(41, 41, 41);
    color: white;
    height: auto;
    padding: 50px;
}

main h2 {
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
}

main p {
    max-width: 70vw;
    font-size: 30px;
}

/*Makes the title yellow*/
main h2 span {
    color: rgb(255, 217, 0); 
}

main ul li {
    font-size: 20px;
    list-style: none;
    padding: 3px;
    margin-left: -1rem;
}

main ul li::before {
    content: "\2022";
    color: rgb(255, 217, 0);
    padding-right: 5px;
}

main ul li a {
    color: white;
}

footer {
    display: flex;
    background-color: rgb(255, 217, 0);
    height: auto;
    color: white;
    text-align: left;
    align-items: center;
}

.blackLogo {
    height: 15vh;
    float: left;
}

.icons ul {
    padding: 0;
}

.icons img {
    height: 4vh;
    display: flex;
}

/* Media screens smaller than 600px */
@media only screen and (max-width:600px) {
    .navbar .dropdown .button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        position: relative;
    }

    .button img {
        height: 50px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar .language {
        position: relative;
    }

    .nav-menu {
        display: none;
    }

    .navbar .dropdown {
        position: relative;
        margin-left: auto;
    }

    .navbar .drop-menu {
        display: none;
        position: absolute;
        
    }

    .navbar .drop-menu a {
        color: white;
        text-decoration: none;
        padding: 12px 16px;
        display: block;
    }

    .navbar .drop-menu a:hover {
        background-color: rgba(145, 145, 145, 0.521);
    }

    .navbar .dropdown:hover .drop-menu {
        display: block;
        background-color: rgba(41, 41, 41, 0.836);
    }
}

/* Media screens between 600px and 900px */
@media only screen and (max-width:900px) and (min-width:600px) { 
    .navbar .dropdown .button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        position: relative;
    }

    .button img {
        height: 50px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .navbar .language {
        position: relative;
    }

    .nav-menu {
        display: none;
    }

    .navbar .dropdown {
        position: relative;
        margin-left: auto;
    }

    .navbar .drop-menu {
        display: none;
        position: absolute;
        
    }

    .navbar .drop-menu a {
        color: white;
        text-decoration: none;
        padding: 12px 16px;
        display: block;
    }

    .navbar .drop-menu a:hover {
        background-color: rgba(145, 145, 145, 0.521);
    }

    .navbar .dropdown:hover .drop-menu {
        display: block;
        background-color: rgba(41, 41, 41, 0.836);
    }
}

/* Media screens bigger than 900px */
@media only screen and (min-width:901px) {
    /*
    .button {
        display: none;
    }*/

    .dropdown {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-menu {
        width: 100%;
    }
    
    .nav-menu ul {
        display: flex;
        padding-left: 0;
        justify-content:space-around;
        list-style: none;
    }

    .nav-menu ul li {
        padding-left: 15px;
    }
    
    
    .nav-menu a:hover {
        background-color: rgba(145, 145, 145, 0.521);
    }
    
    .nav-menu a {
        color: white;
        background-color: transparent;
        justify-content: space-between;
        text-decoration: none;
        font-size: 20px;
    }
    
    .navbar li:first-child a{
        color: rgb(255, 217, 0); /*Makes first list element (home) yellow*/
    } 
}



