* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    background: url("./Images/Homepagepic.png") rgba(0, 0, 0, 0.541);
    background-blend-mode: multiply; /* Blends the background image with the background color */
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.navbar {
    display: flex;
    position: relative;
    width: 100%;
    background-color: transparent;
    z-index: 1; /* Puts navbar over other elements to avoid overlap */

}

.navbar .language {
    color: rgb(255, 217, 0);
    white-space: nowrap;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 20px;
    list-style: none;
}

.navbar .language a {
    color: rgb(255, 217, 0);
    text-decoration: none;
}

.yellowLogo img {
    height: 20vh;
    padding: 20px;
}

.header {
    text-align: center;
    color: white;
    font-size: 15px;
}

.header h1 {
    width: 300px;
    margin: 30px auto 60px auto;
    padding: 20px;
    border: solid white;
    border-radius: 20px;
    border-width: 2px;
    text-transform: uppercase;
}

main {
    display: block;
    background-color: rgb(41, 41, 41);
    color: white;
    height: auto;
    padding: 50px;
}

main p {
    max-width: 90vw;
    font-size: 20px;
    float: none;
    padding-top: 20px;
}

main a {
    color: white;
}

main img {
    height: 40vh;
    border-radius: 10px;
}

footer {
    display: flex;
    background-color: rgb(255, 217, 0);
    height: auto;
    color: white;
    text-align: left;
    align-items: center;
}

footer p {
    color: black;
    margin: auto;
}

.blackLogo {
    height: 15vh;
    float: left;
}

.icons ul {
    padding: 0;
    list-style: none;
}

.icons img {
    height: 4vh;
    display: flex;
}

span {
    color: rgb(255, 217, 0);
}

.h1 {
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
}

/* 
HOME PAGE: 
--------------------------------------------------------------------------------------
*/

.headerHome {
    max-width: 100%;
    height: 75vh; 
    display: block;
}

.headerHome div {
    position: absolute;
    padding: 6rem;
}

.headerHome h1{
    color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 50px;
    line-height: 1;
    margin: 0px;
    white-space: nowrap;
}

.headerHome h2{
    color: rgb(255, 217, 0);
    font-size: 25px;
    text-align: left;
    white-space: nowrap;
    font-weight: initial;
}

.headerHome .links{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    top: 30rem;
    left: 6rem;
    list-style: none;
}

.headerHome .links .viewMore {
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 13px 10px 9px 10px;
    white-space: nowrap;
}

.headerHome .links .pil img{
    background-color: rgb(255, 217, 0);
    height: 45px;
}

.welcome h2 {
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
}

.welcome p {
    max-width: 70vw;
    font-size: 30px;
}

.welcome ul li {
    font-size: 25px;
    list-style: none;
    padding: 3px;
    margin-left: -1rem;
}

/* Making the bullet points yellow */
.welcome ul li::before {
    content: "\2022";
    color: rgb(255, 217, 0);
    padding-right: 5px;
}

.welcome ul li a {
    color: rgb(255, 217, 0);
}

/* 
REFLECTION PAGE: 
--------------------------------------------------------------------------------------
*/


/* 
Media screens smaller than 600px: 
 - Putting navbar into hamburger icon menu 
 - Resizing images to fit smaller screens
*/
@media only screen and (max-width:600px) {
    .navbar .dropdown .button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        position: relative;
    }

    .button img {
        height: 50px;
    }

    .navbar {
        justify-content: space-between;
        align-items: center;
    }

    .navbar .language {
        position: relative;
    }

    .nav-menu {
        display: none;
    }

    .navbar .dropdown {
        position: relative;
        margin-left: auto;
    }

    .navbar .drop-menu {
        display: none;
        position: absolute;
        
    }

    .navbar .drop-menu a {
        color: white;
        text-decoration: none;
        padding: 12px 16px;
        display: block;
    }

    .navbar .drop-menu a:hover {
        background-color: rgba(145, 145, 145, 0.521);
    }

    .navbar .dropdown:hover .drop-menu {
        display: block;
        background-color: rgba(41, 41, 41, 0.836);
    }

    .universalContainer .img1, .reflectionContainer .img1, .reflectionContainer .img3, 
    .reflectionContainer .img2 {
        height: 35vh;
        float: left;
        margin: 20px 0px 20px 0px;
    }

    .reflectionContainer p {
        clear: both;
    }
    

    .universalContainer .img2 {
        float: left;
        margin: 20px 20px 0px 0px;
    }
}

@media only screen and (max-width:850px) and (min-width:601px) {
    .navbar .dropdown .button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        position: relative;
    }

    .button img {
        height: 50px;
    }

    .navbar {
        justify-content: space-between;
        align-items: center;
    }

    .navbar .language {
        position: relative;
    }

    .nav-menu {
        display: none;
    }

    .navbar .dropdown {
        position: relative;
        margin-left: auto;
    }

    .navbar .drop-menu {
        display: none;
        position: absolute;
        
    }

    .navbar .drop-menu a {
        color: white;
        text-decoration: none;
        padding: 12px 16px;
        display: block;
    }

    .navbar .drop-menu a:hover {
        background-color: rgba(145, 145, 145, 0.521);
    }

    .navbar .dropdown:hover .drop-menu {
        display: block;
        background-color: rgba(41, 41, 41, 0.836);
    }

    .universalContainer .img1, .reflectionContainer .img1, .reflectionContainer .img2,
    .reflectionContainer .img3 {
        height: 40vh;
    }

    .universalContainer p:nth-child(2) {
        clear: both;
    }

    .universalContainer .img2 {
        float: left;
        margin: 20px 20px 0px 0px;
    }

}
/*
Media screens between 600px and 900px:
 - Putting navbar into hamburger icon menu 
*/
@media only screen and (max-width:900px) and (min-width:851px) { 
    .navbar .dropdown .button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        position: relative;
    }

    .button img {
        height: 50px;
    }

    .navbar {
        justify-content: space-between;
        align-items: center;
    }

    .navbar .language {
        position: relative;
    }

    .nav-menu {
        display: none;
    }

    .navbar .dropdown {
        position: relative;
        margin-left: auto;
    }

    .navbar .drop-menu {
        display: none;
        position: absolute;
        
    }

    .navbar .drop-menu a {
        color: white;
        text-decoration: none;
        padding: 12px 16px;
        display: block;
    }

    .navbar .drop-menu a:hover {
        background-color: rgba(145, 145, 145, 0.521);
    }

    .navbar .dropdown:hover .drop-menu {
        display: block;
        background-color: rgba(41, 41, 41, 0.836);
    }

    .reflectionContainer .img1, .reflectionContainer .img3,
    .universalContainer .img1 {
        float: right;
        margin: 20px;
    }

    .reflectionContainer .img2, .universalContainer .img2 {
        float: left;
        margin: 0px 20px 20px 0px;
    }
}

/* 
Media screens bigger than 900px:
 - Shows navbar and hides hamburger menu
  */
@media only screen and (min-width:901px) {
    .dropdown {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-menu {
        width: 100%;
    }
    
    .nav-menu ul {
        display: flex;
        padding-left: 0;
        justify-content:space-around;
        list-style: none;
    }

    .nav-menu ul li {
        padding-left: 15px;
    }
    
    
    .nav-menu a:hover {
        background-color: rgba(145, 145, 145, 0.521);
    }
    
    .nav-menu a {
        color: white;
        background-color: transparent;
        justify-content: space-between;
        text-decoration: none;
        font-size: 20px;
    }
    
    .navbar li:first-child a{
        color: rgb(255, 217, 0); /*Makes first list element (home) yellow*/
    } 

    .reflectionContainer .img1, .reflectionContainer .img3,
    .universalContainer .img1 {
        float: right;
        margin: 20px;
    }

    .reflectionContainer .img2, .universalContainer .img2 {
        float: left;
        margin: 0px 20px 20px 0px;
    }
}



