* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
    padding: 0;
    margin: 0;
    letter-spacing: 3px;
    background-image: url(../Images/Funpage.png);
    background-size: cover;
}

.navbar {
    display: flex;
    position: relative;
    width: 100%;
    background-color: transparent;
    z-index: 1; /* Puts navbar over other elements to avoid overlap */
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

.navbar .home {
    margin-right: auto;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navbar .language {
    position: relative;
    color: black;
    white-space: nowrap;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 20px;
    list-style: none;
}

.navbar .language a {
    color: black;
    text-decoration: none;
}

.navbar .dropdown .button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: relative;
}

.button img {
    height: 50px;
}

.navbar .dropdown {
    position: relative; 
}

.navbar .drop-menu {
    display: none;
    position: absolute;
    background-color: rgba(236, 189, 157, 0.863);
}

.navbar .drop-menu a {
    color:black;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    font-size: 15px;
}

.navbar .drop-menu a:hover {
    background-color: rgb(236, 181, 145);
}

.navbar .dropdown:hover .drop-menu {
    display: block;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 200px 30px 10px 45px;
}

main .persPic {
    display: flex;
    flex-direction: row;
}

main .persPic li img {
    size: 15px;
}


main p {
    font-size: 20px;
}

/* Using code taken from oblig1 to create slideshow */
.slideshow
{
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.slide_1, .slide_2, .slide_3
{
  position: absolute;
}
.slide_1 img, .slide_2 img, .slide_3 img {
    width: 600px;
    height: 400px;
}

.slide_1{left: 0px;}
.slide_2{left: 600px;}
.slide_3{left: 1200px;}

.slides{
  left:0px;
  position: absolute;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 12s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 12s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 12s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide {
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-500px;}
  45% {left:-500px;}
  66% {left:-1000px;}
  90% {left:-1000px;}
}
@-moz-keyframes anim_slide {
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-500px;}
  45% {left:-500px;}
  66% {left:-1000px;}
  90% {left:-1000px;}
}
@-ms-keyframes anim_slide {
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-500px;}
  45% {left:-500px;}
  66% {left:-1000px;}
  90% {left:-1000px;}
}
@keyframes anim_slide {
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-600px;}
  45% {left:-600px;}
  66% {left:-1200px;}
  90% {left:-1200px;}
}

footer {
    display: flex;
    background-color: transparent;
    text-align: left;
    align-items: center;
}

.blackLogo {
    height: 15vh;
    float: left;
}

.icons ul {
    padding: 0;
}

.icons img {
    height: 4vh;
    display: flex;
}

/* Media screens smaller than 600px */
@media only screen and (max-width:600px) {
}

/* Media screens between 600px and 900px */
@media only screen and (max-width:900px) and (min-width:600px) { 
}

/* Media screens bigger than 900px */
@media only screen and (min-width:901px) {
}



